<!-- notes/templates/notes/note_list.html-->
{% extends 'base.html' %}
{% block title %}
    Sticky Notes - {{ page_title }}
{% endblock %}

{% block content %}
    <h2>
        {{ page_title }}
    </h2>
    <ul>
        <a href="{% url 'note_create' %}">Create a new note</a>
        {% for note in notes %}
            <li>
                <a href="{% url 'note_detail' pk=note.pk %}">{{ note.title }}</a>
                <p>
                    {{ post_content }}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
