<!-- note/templates/notes/note_form.html-->
{% extends 'base.html' %}
{% block title %}
    Sticky Note - 
    {% if form.instance.pk %}
        Edit
    {% else %}
        Create
    {% endif %}
    Note
{% endblock %}
{% block content %}
    <h2>
        {% if form.instance.pk %}
            Edit
        {% else %}
            Create
        {% endif %}
        Note
    </h2>
    <form method="post" action="{% if form.instance.pk %}{% url 'note_update' pk=form.instance.pk %}{% else %}{% url 'note_create' %}{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = 'submit'>Save</button>
    </form>
    <a href="{% url 'note_list' %}">Back to note list</a>
{% endblock %}