<!-- notes/templates/notes/note_detail.html-->
{% extends 'base.html' %}
{% block title %}
    Sticky Note - {{ note.title }}
{% endblock %}
{% block content %}
    <h2>
        {{ note.title }}
    </h2>
    <p>
        {{ note.content }}
    </p>
    <p>
        Created on: {{ note.created_at }}
    </p>
    <a href="{% url 'note_update' pk=note.pk %}">Update this note</a>
    <a href="{% url 'note_delete' pk=note.pk %}">Delete this note</a>
    <a href="{% url 'note_list' %}">Back to note list</a>
{% endblock %}